@page
@model B05.Pages.DirkeModel
@{
    ViewData["Title"] = "SaznajVise-Sa_Dirkama_Instrumenti";
}
<p class="naslov">Инструменти са диркама</p>
<p>
    Инструменти са диркама су група музичких инструмената који користе клавијатуру и њене типке као главни извор звука. Најпознатији инструменти овог типа су клавир, оргуље, електрична клавијатура и други.
    Најстарији инструменти са диркама датирају још из 3. века п. н. е. у Античкој Грчкој и то су били инструменти слични оргуљама.
</p>