@page
@model B05.Pages.DuvackiModel
@{
    ViewData["Title"] = "SaznajVise-Duvacki_Instrumenti";
}
<p class="naslov">Дувачки инструменти</p>
<p>Дувачки инструменти (фр. Instrument à vent, енгл. wind instruments), како и сам назив каже, су инструменти на којима се тон производи дувањем, обично из уста и плућа свирача. Дувачки инструменти су једна велика и разноврсна породица. Разликују се по облику, материјалу, начину дувања и улози. Они спадају у аерофоне инструменте.</p>