@page
@model IndexModel
@{
    ViewData["Title"] = "Pocetna";
}

<p class="naslov">Звуци инструмената</p>

<div class="slider">
    <div class="kultura">Музичка култура</div>
    <div>
        <table class="tabela">
            <tr>
                <th>Назив инструмента</th>
                <th>Слика инструмента</th>
                <th>Звук инструмента</th>
            </tr>
            <tr>
                <td>Гитара</td>
                <td><img src="~/slike/gitara.jpg" alt="Гитара" class="instrument-image" data-url="https://sr.wikipedia.org/wiki/Гитара"></td>
                <td>
                    <audio id="audio_cat">
                        <source src="sounds/cat.mp3" type="audio/mpeg" />
                    </audio>
                    <img src="~/slike/speaker.png" alt="Звук Гитара" class="sound-icon" onmouseover="document.getElementById('audio_cat').play()"><br/>
                    <a asp-page="Zicani">Сазнај више</a>
                </td>
            </tr>
            <tr>
                <td>Виолина</td>
                <td><img src="~/slike/violina.jpg" alt="Виолина" class="instrument-image" data-url="https://sr.wikipedia.org/wiki/Виолина"></td>
                <td>
                    <audio id="audio_dog">
                        <source src="sounds/dog.mp3" type="audio/mpeg" />
                    </audio>
                    <img src="~/slike/speaker.png" alt="Звук Виолина" class="sound-icon" onmouseover="document.getElementById('audio_dog').play()"><br/>
                    <a asp-page="Zicani">Сазнај више</a>
                </td>
            </tr>
            <tr>
                <td>Клавир</td>
                <td><img src="~/slike/klavir.jpg" alt="Клавир" class="instrument-image" data-url="https://sr.wikipedia.org/wiki/Клавир"></td>
                <td>
                    <audio id="audio_chicken">
                        <source src="sounds/chicken.mp3" type="audio/mpeg" />
                    </audio>
                    <img src="~/slike/speaker.png" alt="Звук Клавир" class="sound-icon" onmouseover="document.getElementById('audio_chicken').play()"><br>
                    <a asp-page="Dirke">Сазнај више</a>
                </td>
            </tr>
            <tr>
                <td>Бубњеви</td>
                <td><img src="~/slike/bubanj.jpg" alt="Бубњеви" class="instrument-image" data-url="https://sr.wikipedia.org/wiki/Бубњеви"></td>
                <td>
                    <audio id="audio_cow">
                        <source src="sounds/cow.mp3" type="audio/mpeg" />
                    </audio>
                    <img src="~/slike/speaker.png" alt="Звук Бубњеви" class="sound-icon" onmouseover="document.getElementById('audio_cow').play()"><br>
                    <a asp-page="Udaraljke">Сазнај више</a>
                </td>
            </tr>
            <tr>
                <td>Хармоника</td>
                <td><img src="~/slike/harmonika.jpg" alt="Хармоника" class="instrument-image" data-url="https://sr.wikipedia.org/wiki/Хармоника"></td>
                <td>
                    <audio id="audio_horse">
                        <source src="sounds/horse.mp3" type="audio/mpeg" />
                    </audio>
                    <img src="~/slike/speaker.png" alt="Звук Хармоника" class="sound-icon" onmouseover="document.getElementById('audio_horse').play()"><br>
                    <a asp-page="Dirke">Сазнај више</a>
                </td>
            </tr>
            <tr>
                <td>Контрафагот</td>
                <td><img src="~/slike/kontrafagot.jpg" alt="Контрафагот" class="instrument-image" data-url="https://sr.wikipedia.org/wiki/Контрафагот"></td>
                <td>
                    <audio id="audio_sheep">
                        <source src="sounds/sheep.mp3" type="audio/mpeg" />
                    </audio>
                    <img src="~/slike/speaker.png" alt="Звук Контрафагот" class="sound-icon" onmouseover="document.getElementById('audio_sheep').play()"><br>
                    <a asp-page="Duvacki">Сазнај више</a>
                </td>
            </tr>
        </table>
    </div>
</div>
