@page
@model B05.Pages.UdaraljkeModel
@{
    ViewData["Title"] = "SaznajVise-Udaraljke";
}
<p class="naslov">Удараљке</p>
<p>Удараљке су по грађи најпримитивнији род музичких инструмената. Од прадавних времена па до данас оне су се јављале у различитим облицима и врстама у народној и уметничкој музици. Звук се добија ударом по звучном извору. Удара се руком (тамбурин), разним врстама палица (тимпани, гонг, звона, ксилофон и други), металном шипком (тријангл) или једном површином о другу (чинели, кастањете), ређе помоћу механизма (челеста). Према врсти звука које производ, удараљке се деле на оне које дају звук одређене висине - мелодијске и оне са неодређеном висином тона. Улога удараљки је да подвуку карактеристичан ритам и дају динамичку подлогу и звучну боју целом оркестру.</p>