@page
@model B05.Pages.ZicaniModel
@{
    ViewData["Title"] = "SaznajVise-Zicani_Instrumenti";
}
<p class="naslov">Жичани инструменти</p>
<p>Жичани инструменти су музички инструменти код којих се звук производи треперењем његових жица.[1] Музичар може производити звук помоћу прстију, трзалице или гудалом (гудачки инструменти), а други ударањем по струнама лаким дрвеним чекићем. Код неких клавијатурних инструмената, као што је чембало, музичар притисне типку чиме се окида жица. Други музички инструменти генеришу звук ударањем у жицу.</p>