<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - B05</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/B05.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1>ОСНОВНА ШКОЛА "СОЊА МАРИНКОВИЋ"</h1>
        <nav>
            <ul class="navbar">
                <li><a asp-page="Index">ПОЧЕТНА</a></li>
                <li><a asp-page="oautoru">О АУТОРУ</a></li>
                <li><a asp-page="Uputstvo">УПУТСTВО</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Copyright &copy; Основна школа "Соња Маринковић"
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>